# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environment
.env
.venv
venv/

# Editor / system
.DS_Store
.idea/
.vscode/

# Git
.git

# Tests / caches
.pytest_cache
.cache

# Streamlit secrets
.streamlit/secrets.toml

# GitHub Actions
.github/

# Build artifacts
dist/
build/
*.egg-info
